{% extends "base.html" %}
{% load i18n %}
{% load static %}
{% load plugin_extras %}

{% block page_title %}
{% trans "Quick Stock Removal" %}
{% endblock page_title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 offset-md-2">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        <i class="fa fa-barcode"></i>
                        {% trans "Quick Stock Removal" %}
                    </h3>
                </div>
                <div class="panel-body">
                    <p class="help-block">
                        {% trans "Scan or enter a barcode to quickly remove stock from inventory. The system will automatically detect the part and remove the appropriate quantity based on supplier package information." %}
                    </p>
                    
                    <div id="stock-removal-app"></div>
                    
                    <script type="module">
                        import { renderStockRemovalPage } from '{% plugin_static "continouous-stock-adjustment" "StockRemovalPage.js" %}';
                        
                        // Get InvenTree context
                        const context = {
                            api: window.inventreeApi || {},
                            user: window.user || {},
                            settings: {{ settings|safe }},
                        };
                        
                        // Render the React component
                        const container = document.getElementById('stock-removal-app');
                        if (container && renderStockRemovalPage) {
                            renderStockRemovalPage(context, container);
                        }
                    </script>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
